extends ./layout

block content
	h1= title

	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Всё
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Кабинеты
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") 402


	table.items-list
		thead
			tr 
				th id
				th type
				th brand
				th model
				th place
		tbody
			each item in items 
				tr
					td(style="word-break: normal")
						a(href=`${baseUrl}/items/${item.id}`)= item.id
					td= item.type
					td= item.brand
					td= item.model
					td= item.place

	form(action='', method='POST')
		button Добавить id
	footer
		a(href="/logout", style="text-underline-offset: 1px") Выход
